<!DOCTYPE html>
<html>
<head>
    <title>Página de Contato</title>
</head>
<body>
    <h1>Página de Contato</h1>
    <address>
        <dl>
            <dt>Nome:</dt>
            <dd><%= nome %></dd>
            <dt>Email:</dt>
            <dd><%= email %></dd>
            <dt>Telefone:</dt>
            <dd><%= telefone %></dd>
        </dl>
    </address>
</body>
</html>
